
@import '../shared/style-common.scss';

.new-transfer-container {

    width: 60%;
    background-color: $bg-primary;
    margin-right: 5%;;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .title {
        @include title-bar();

        .svg-inline--fa {
            float: left;
            margin: 8px 0px 8px 15px;
            opacity: 0.7;
         }
     }

    .body {
        padding: 20px;

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid $bg-secondary;
            margin-bottom: 10px;
        }
        input:focus {
            outline: none;
        }
        div {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .footer {
        padding: 20px;

        button {
            float: right;
            margin: 10px 10px 20px 0;
            width: 50%;
            background-color: $bg-primary-button;
            border: none;
        }
    }

}
