
.new-transfer-container {

    width: 60%;
    background-color: white;
    margin: 10px 10px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .title {
        background-color: #0c8397;
        line-height: 40px;
        text-align: center;
        font-size: 15pt;
        color: white;
        vertical-align: middle !important;
     }

    .body {
        
        padding: 20px;

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            margin-bottom: 10px;
        }

        input:focus {
            outline: none;
        }

        div {
            font-weight: bold;
            font-size: 10pt;
            margin-bottom: 10px;
        }

    }

    .footer {

        button {
            float: right;
            margin: 10px 10px 20px 0;
            width: 150px;
        }
    }

}
