@import '../../shared/style-common.scss';

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: $bg-primary;

    tbody {

        tr {
            border: $border-primary;
            height: $line-height-item;

            td {
                vertical-align: middle !important;
                padding: 0rem !important;
            }

            .category {
                border-style: solid !important;
            }

            .amount {
                font-weight: bold;
                font-size: 120%;
            }

            .beneficiary {
                font-weight: bold;
            }

            .transfer-date {
                text-align: center;
            }
        }
        
        tr > *:nth-child(1) {
            width: 5px;
        }
    
        tr > *:nth-child(2) {
            width: 15%;
        }
    
        tr > *:nth-child(3) {
            width: 8%;
        }

        tr > *:nth-child(4) {
            width: fit-content;
        }

        tr > *:nth-child(5) {
            width: 12%;
        }

        img {
            height: 30px;
            width: 30px;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }
}

   