$active-color: #19B82A;
$border-table: 1px solid #E7EAF1;
$bg-product: #d9edf7;
$selected-icon: #FF5500;
$bg-header-table: #0c8397;

$color-primary-dark: black;
$color-primary-light: white;

$bg-primary-level1: #9298A5;
$bg-primary-level2: #dedfe1;
$bg-primary-level3: #f4f4f4;
$bg-primary-level4: #F8F8F9;
$bg-primary-dark: black;
$bg-primary-light: white;

/********* Start Functions *********/

@mixin header-panel($bg: #0372bc) {
    background-color: $bg;
    color: $color-primary-light;
    padding: 5px 5px 5px 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.header-panel {
    @include header-panel();
    .header {
        cursor: pointer;
      }
}

/********* End Functions *********/


/********* Start Extends *********/

.header-table {
    background-color: $bg-header-table;
    font-weight: bold;
    color: $color-primary-light;
}

.body-table {
    background-color: $bg-primary-light;
}

.hover-row-on-table {
    cursor: pointer;
    background-color: #fcfbdc;
}

.custom-input-field {
    border-color: hsl(0, 0%, 80%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

/********* End Extends *********/


/********* Start Classes Global *********/
.modal-header {
    background-color: $bg-header-table;
    color: $color-primary-light;
    font-weight: bold;

    .close {
        color: $color-primary-light;
    }
}

.modal-footer {
    button {
        font-weight: bold;
        width: 80px;
    }
}

.required-field:after {
    color: #e83200;
    content: " *";
}

.required-input-field {
    border-color: red !important;
}

.required-msg {
    color: #f44336;
    font-size: 85%;
    position: absolute;
    display: flex;
}

.no-record-found {
    background-color: $bg-primary-light;
    text-align: center !important;
    cursor: auto;
}

.modal.modal-static .modal-dialog {
    transform: none;
}

/********* End Classes Global *********/



