
@import '../../shared/style-common.scss';

.table-model {
    table {
        padding: 15px;
        border: none;

        tbody {
            tr {
                border: none;
                border-bottom: $border-primary;
            }
    
            tr > *:nth-child(1) {
                width: 40%;
                font-weight: bold;
            }
    
            tr > *:nth-child(2) {
                width: fit-content;
                float: right;
                line-height: 60px;
            }
        }
    }
}


