@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Kanit';
  src: url('assets/fonts/Kanit-Thin.ttf') format('truetype');
}

html, body {
  background-color: inherit;
  font-family: Helvetica, Arial, sans-serif, "Helvetica Neue";
  font-size: 9pt;

  .header-container {
    padding: 1% 1% 1% 12%;
    border-bottom: 2px solid rgba(238, 112, 51, 1);
  }

  .body-container {
    background: url('assets/images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;

    .main-container {
      display: flex;
      padding: 2% 0% 0% 0%;
      
      .new-transfer {
        flex: 2;
      }
  
      .recent-transactions {
        flex: 4;
      }
    }
  }

}



@media screen and (max-width: 1200px) {
  .main-container {

   padding: 2% !important;
   .new-transfer {
    margin-right: 20px;
   }

    .new-transfer-container, .transactions-container {
      width: 100%;
      float: left;
    }
  }
  .header-container {
    min-height: 0 !important;

    img {
      width: 80%;
    }
  }
}

@media screen and (max-width: 960px) {}

@media screen and (max-device-width: 960px) {
  .new-transfer {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 768px) {

  .new-transfer {
    margin-right: 0px !important;
   }

  .main-container {
    display: block !important;
    padding: 0 !important;

    .new-transfer-container, .transactions-container {
      width: 100%;
      display: block;
      margin: 0 !important;
      padding-bottom: 5%;

      button {
        width: 25% !important;
      }   
    }
  }
}

@media screen and (max-width: 450px) {
  .header-container {
    min-height: 0 !important;

    img {
      width: 80%;
    }
  }

  .main-container {
    display: block !important;
    padding: 0 !important;

    .new-transfer-container, .transactions-container {
      width: 100%;
      display: block;
      margin: 0 !important;
      padding-bottom: 0%;

      button {
        width: 25% !important;
      }

      .footer {
        padding: 0;
      }
      .table {
        table {
          
          tr > *:nth-child(2) {
            width: 20%;
          }
      
          tr > *:nth-child(3) {
              width: 15%;
          }
        }     
      }
    }
  }

  .new-transfer {
    margin-right: 0px !important;
  }

  .search-sort-bar-container {
    display: block !important;

    .left {
      display: inline;
     
      padding: 0 !important;
      input {
        margin-bottom: 20px;
      }
    }
    .between {
      margin-right: 10%;
      display: inline;
      text-align: left !important;
    }
    .right {
      display: inline;
    }
  }
}


@media screen and (max-width: 320px) {
  .search-sort-bar-container {

    .between {
      display: block;
    }
    .right {
      float: none !important;
    }
  }
}

