
@import '../shared/style-common.scss';

.transactions-container {
   width: 80%;
   background-color: $bg-primary;
   box-shadow: $box-shadow;

   .title {
      @include title-bar(50px);

      .svg-inline--fa {
         float: left;
         margin: 2%;
         opacity: 0.7;
      }
   }

   .table {
      padding: 20px;
   }
}