
.search-sort-bar-container {

    padding: 20px 20px 0 20px;
    display: flex;

    .left {
        flex: 3;
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
        }
        input:focus {
            outline: none;
        }
    }

    .between {
        flex: 1;
        text-align: center;
        label {
            font-weight: bold;
            
        }
    }

    .right {
        float: right;
       
        button {
            background-color: white;
            color: black;
            border: 1px solid black;
        }

        a {
            border: 1px solid #E7EAF1;
            padding: 7px;
            cursor: pointer;

            .fa-stack {
                text-align: center;
                vertical-align: middle;
                width: 0.5rem;
             
                .fa-caret-up {
                  position: absolute;
                  top: 4px;
                }
      
                .fa-caret-down {
                  position: absolute;
                  bottom: 4px;
                }
            }
            .asc {
                .fa-caret-down {
                    text-align: center;
                    vertical-align: middle;
                }
              }
        
              .desc {
                .fa-caret-up {
                    text-align: center;
                    vertical-align: middle;
                }
              }
        }
    }

   

    
}