
@import '../../shared/style-common.scss';

.search-sort-bar-container {

    margin: 20px 20px 0 20px;
    display: flex;

    .left {
        flex: 4;
        padding-left: 10px;
        input {
            width: 90%;
            border: none;
            border-bottom: 1px solid $bg-secondary;
        }
        input:focus {
            outline: none;
        }
        a {
            cursor: pointer;
            display: absolute;
            margin-right: 12px;
        }
    }

    .between {
        flex: 1;
        text-align: center;

        label {
            font-weight: bold;   
        }
    }

    .right {
        float: right;

        a {
            border: $border-primary;
            padding: 7px;
            cursor: pointer;

            .fa-stack {
                text-align: center;
                vertical-align: middle;
                width: 0.625rem;
             
                .fa-caret-up {
                  position: absolute;
                  top: 2px;
                }
      
                .fa-caret-down {
                  position: absolute;
                  bottom: 4.5px;
                }
            }
            .asc {
                .fa-caret-down {
                    display: none;
                }
            }
        
            .desc {
                .fa-caret-up {
                    display: none;
                }
            }
            
        }
    } 
}
